* {
  box-sizing: border-box;
}

html {
  font-size: 10px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  color: #333;
  background: #eee;
}

body {
  font-size: 1.6rem;
}

h1 {
  font-size: 3.6rem;
  font-weight: 300;
  margin: 0;
  padding: 0 0 0.5em;
  span {
    display: inline-block;
    background: #333;
    color: #eee;
    border-radius: 3px;
    padding: 0 1rem;
    margin-left: 0.5rem;
  }
}
