.narrow_wrapper {
  margin: 0 auto;
  width: 50%;
  max-width: 500px;
  min-width: 300px;
  padding: 3rem 0;
  text-align: center;
}

#login_form_wrapper {
  [authenticated] & {
    display: none;
  }
  [authenticating] & {
    display: none;
  }
}

#logout_form_wrapper {
  display: none;
  [authenticated][authenticating] & {
    display: none;
  }
  [authenticated] & {
    display: block;
  }
}

.form {
  input {
    font-size: 1.8rem;
    display: block;
    line-height: 3em;
    height: 3em;
    width: 100%;
    background: #fff;
    border: 1px solid #ccc;
    margin-bottom: 1em;
    padding: 0 2rem;
  }
  button {
    display: block;
    width: 100%;
    line-height: 3em;
    font-size: 1.8rem;
  }
}

#loading {
  line-height: 200px;
  display: none;
  [authenticating] & {
    display: block;
  }
}
